/* Apply black background and center content */
body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

img {
    max-inline-size: 100%;
}

.hamburger {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
}
.menu {
    display: none;
    position: absolute;
    top: 30px;
    left: 10px;
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 5px;
}
.menu a {
    display: block;
    color: white;
    text-decoration: none;
    margin: 5px;
}
.image-placeholder {
    padding-top: 50px;
    max-inline-size: 2000px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.button {
    background: white;
    color: black;
    padding: 10px 20px;
    margin: 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
}
.event-list {
    clear: both;
    list-style: none;
    padding: 0;
}
.event {
    background: #222;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    display: flex;
    align-items: center;
}
.event img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

